# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: build-${{ matrix.os }} ${{ matrix.artifact }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            rids: -r win-x64
            artifact: publish-win-x64
          - os: windows-latest
            rids: -r win-arm64
            artifact: publish-win-arm64
          - os: macos-latest
            rids: -rids osx-arm64,osx-x64
            artifact: publish-osx-universal
            wineprefix: /Users/runner/.winemonogame
          - os: ubuntu-latest
            rids: -r linux-x64
            artifact: publish-linux-x64
            wineprefix: /home/runner/.winemonogame
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Setup for MonoGame
      uses: infinitespace-studios/monogame-actions/install-wine@v1.0
    - name: Install MonoPack
      run: |
            dotnet tool install MonoPack
      shell: bash
    - name: Restore dependencies
      run: dotnet restore
    - name: Restore tools
      run: dotnet tool restore
    # - name: Delete ./${{ matrix.artifact }}
    #   run: rm -Rf ./${{ matrix.artifact }}
    #   shell: bash
    # - name: Install Rosetta
    #   if: runner.os == 'macOS'
    #   continue-on-error: true
    #   run: |
    #     softwareupdate --install-rosetta --agree-to-license
    #     /usr/bin/pgrep oahd >/dev/null && echo "Rosetta is installed" || echo "Rosetta is not installed"
    # - name: Install Wine Dependencies
    #   if: runner.os == 'macOS'
    #   run: |
    #     brew install libpng libjpeg libtiff
    #     brew install --cask xquartz wine-stable
    #     xattr -dr com.apple.quarantine "/Applications/Wine Stable.app"
    #     wine --version
    #     which wine
    #     wget -qO- https://monogame.net/downloads/net9_mgfxc_wine_setup.sh | bash
    #     export WINEPREFIX=${{ matrix.wineprefix }}
    #     wine dotnet --info
    #   shell: bash
    - name: Update Path
      if: runner.os != 'Windows'
      run: |
        echo "/opt/homebrew/lib:/usr/local/lib:/usr/local/bin" >> $GITHUB_PATH
      shell: bash
    - name: Build
      run: |
        echo $DYLD_LIBRARY_PATH
        dotnet build VectorRumble.Desktop/VectorRumble.Desktop.csproj -c Release -v:diag -tl:off
      shell: bash
      env:
        MGFXC_WINE_PATH: ${{ matrix.wineprefix }}
        DYLD_LIBRARY_PATH: /usr/lib:/usr/local/lib:/opt/homebrew/lib:/usr/local/bin:$DYLD_LIBRARY_PATH
    - name: Package
      run: dotnet monopack -e VectorRumble -p VectorRumble.Desktop/VectorRumble.Desktop.csproj -z -o ./${{ matrix.artifact }} ${{ matrix.rids }} -i ./Info.plist -c ./VectorRumble.icns -v
      shell: bash
      env:
        MGFXC_WINE_PATH: ${{ matrix.wineprefix }}
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact }}
        path: ./${{ matrix.artifact }}/*.zip

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: windows
            rid: win-x64
            artifact: publish-win-x64
            archive: .zip
          - os: macos
            rid: universal
            artifact: publish-osx-universal
            archive: .zip
          - os: linux
            rid: linux-x64
            artifact: publish-linux-x64
            archive: .zip
      fail-fast: false
    needs: build
    steps:
      - name: Download
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.artifact }}
      - name: Generate appversion.txt
        run: |
              echo ${{ github.ref_name }} | sed 's/^v//' > appversion.txt
              cat appversion.txt
      - name: Extract
        run: |
              7z x ./VectorRumble-${{ matrix.rid }}${{ matrix.archive }} -o./${{ matrix.rid }} -y
              find .
        shell: bash
      - name: Publish
        uses: infinitespace-studios/monogame-actions/publish-itchio@v1
        with:
          channel: ${{ matrix.os }}
          tag: '-alpha'
          version: ${{ github.ref_name }}
          file: './VectorRumble-${{ matrix.rid }}${{ matrix.archive }}'
          ITCHIO_USER: ${{ secrets.ITCHIO_USER }}
          ITCHIO_GAME: ${{ secrets.ITCHIO_GAME }}
          ITCHIO_TOKEN: ${{ secrets.ITCHIO_TOKEN }}

